.subpoint-enter {
    opacity: 0;
    transform: translateY(-10px);
  }
  .subpoint-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }
  .subpoint-exit {
    opacity: 1;
    transform: translateY(0);
  }
  .subpoint-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 300ms, transform 300ms;
  }
  